/* REGISTRY PAGE STARTED */
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
.loginbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
input.MyButton {
width: 50%;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size: 100%;
background: #3366cc;
color: #fff;
border: 1px solid #3366cc;
border-radius: 10px;
-moz-box-shadow:: 6px 6px 5px #999;
-webkit-box-shadow:: 6px 6px 5px #999;
box-shadow:: 6px 6px 5px #999;
}
input.MyButton:hover {
color: #ffff00;
background: #000;
border: 1px solid #fff;
}

/* REGISTRY PAGE ENDED */

/* LOGIN  */
#header{
text-align: center;
font-family:"Rametto One";
}


#lh{
text-align:center;
font-family:Osvald;
}

#login{
text-align: center;
}


#brand{
text-align:center;
}


/* END OF LOGIN */

h1,h2,h3{
    margin: 0;
}

h3{
    color: black;
}
#main{
    background-color: white;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#about{
    width: 100%;
    height: 100%;
}


#header{
    background-color: #254bf7;
    color: white;
    text-align:center;
    padding: 10px;
    position:center;
}

table{
    border-collapse: collapse;
    align: center;
}
table th{
    text-align: center;
    background-color: #3a6070;
    color: #FFF;
    padding: 4px 30px 4px 8px;
}

table td{
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
    background-color: grey;
}
table tr:nth-child(odd) td{
    background-color: #e7edf0;
}

html, body {
          font-family: "Lato", sans-serif;
          margin: 0;
          height: 100%;
      }

      .sidenav {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
      }

      .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
      }

      .sidenav a:hover {
          color: #f1f1f1;
      }

      .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
